
/*UTILITIES*/
.dark-blue{
  color:#031b4e;
}

.light-blue{
  color: #3080f0;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}
/*END UTILITIES*/


/*NAVBAR*/

 header .navbar{
  margin-top: 30px;
  height: 50px;
}



header .navbar ul{
  height: 50px;
  line-height: 50px;
}

header .navbar ul li{
  display: inline-block;
}

header .navbar ul li a{
  color: blue;
}


.logo{
  width:180px;
}



.right li,
.central li{
  margin-top: 5px;
  padding-right: 5px;
}

.central li:last-child{
  padding: 0;
}



.bl-btn{
  border: 1px solid blue;
  color: blue;
}

.hamburger{
  margin-top: 6px;
  }

  .hamburger i{
    font-size: 20px;
  }

/*END NAVBAR*/

/*JUMBOTRON*/
.bl-jumbotron{
  height: 720px;
  padding-bottom: 50px;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;

}


.bl-jumbotron-desc{
  color: #fff;
  text-align: left;
  margin-top: 50px;

}

.bl-jumbotron-desc h1{
  font-size: 30px;
}

.bl-jumbotron-desc p{
  font-size: 18px;
}


.jumbotron-form-container{
  padding: 0 15px;
}

.reg-form{
  height: 380px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

.reg-form h2:first-child{
  padding: 0 18px;
}

.google-icon-btn{
  position: relative;
  margin-top: 6px;
  box-shadow:1px 1px 3px 2px #aabb;


}

.google-icon-btn i{
  position: absolute;
  bottom: 50%;
  left: 6px;
  transform: translate(0, 50%);
  font-size: 20px;
}

.bl-btn-google{
  background-color: #fff;
}

.bl-jumbotron .container .row .reg-form p{
  margin-top: 15px;
}

.bl-jumbotron .container .row .reg-form p a{
  text-decoration: underline;
}

.bl-form ::placeholder{
  color: #757575;
}

/*END JUMBOTRON*/

/*PARTNERS SECTION*/

.partners-section{
  height: 600px;
  background-color: #ccc;
  text-align: center;
  padding: 30px 15px;;

}

.partners-section h5{
    margin: 0;
    color: #757575;
}


.loghi-container img{
  width: 175px;
  margin-top: 50px;
  vertical-align: middle;

}

.loghi-container img:first-child,
.loghi-container img:nth-child(3),
.loghi-container img:nth-child(5){
    margin-right: 70px;
}


/*END PARTNERS SECTION*/

/*MEDIA QUERY*/
@media screen and (min-width:768px){

/*jumbotron*/

.bl-jumbotron{
  height: 500px;
}

  .bl-jumbotron-desc h1 strong{
    font-size: 36px;
  }

  .bl-jumbotron-desc p{
    font-size: 20px;
  }

  .jumbotron-form-container{
    padding: 0;
  }
  .reg-form{
    margin-top: 40px;
    height: 430px;
    padding-top: 30px;
  }

  /*end jumbotron*/
}

@media screen and (min-width:992px){

  /*navbar*/
  .right li,
  .central li{
    margin-top: 5px;
    padding-right: 10px;
  }

  .central li:last-child{
    padding: 0;
  }
  /*end navbar*/

/*JUMBOTRON*/


  .bl-jumbotron-desc h1 strong{
    font-size: 60px;
  }

  .bl-jumbotron-desc p{
    font-size: 23px;
  }

  .reg-form{
    margin-top: 50px;
    height: 375px;
    padding-top: 25px;
  }

/*END JUMBOTRON*/



}


@media screen and (min-width:992px) and (max-width:1199px){




  .bl-jumbotron-desc h1 strong{
    font-size: 50px;
  }

  .bl-jumbotron-desc p{
    font-size: 25px;
  }

  .reg-form{
    margin-top: 50px;
    height: 410px;
    padding-top: 15px;
  }


}
/*END MEDIA QUERY*/
