
/*UTILITIES*/
.dark-blue{
  color:#031b4e;
}

.light-blue{
  color: #3080f0;
}

.dark-grey{
  color:#757575;
}

.light-grey-bg{
  background-color: #F3F5F9;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}
/*END UTILITIES*/


/*NAVBAR*/

 header .navbar{
  margin-top: 30px;
  height: 50px;
}



header .navbar ul{
  height: 50px;
  line-height: 50px;
}

header .navbar ul li{
  display: inline-block;
}


.logo{
  width:180px;
}

.right li,
.central li{
  margin-top: 5px;
  padding-right: 5px;
}

.central li:last-child{
  padding: 0;
}



.bl-btn{
  border: 1px solid #3080f0;

}

.hamburger{
  margin-top: 6px;
  }

  .hamburger i{
    font-size: 20px;
  }

/*END NAVBAR*/

/*JUMBOTRON*/
.bl-jumbotron{
  height: 720px;
  padding-bottom: 50px;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;

}


.bl-jumbotron-desc{
  color: #fff;
  text-align: left;
  margin-top: 50px;

}

.bl-jumbotron-desc h1{
  font-size: 30px;
}

.bl-jumbotron-desc p{
  font-size: 18px;
}


.jumbotron-form-container{
  padding: 0 15px;
}

.reg-form{

  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

.reg-form h2:first-child{
  padding: 0 18px;
}

.google-icon-btn{
  position: relative;
  margin-top: 6px;
  box-shadow:1px 1px 3px 2px #aabb;


}

.google-icon-btn i{
  position: absolute;
  bottom: 50%;
  left: 6px;
  transform: translate(0, 50%);
  font-size: 20px;
}

.bl-btn-google{
  background-color: #fff;
}

.bl-jumbotron .container .row .reg-form p{
  margin-top: 15px;
}

.bl-jumbotron .container .row .reg-form p a{
  text-decoration: underline;
}

.bl-form ::placeholder{
  color: #757575;
}

/*END JUMBOTRON*/

/*PARTNERS SECTION*/

.partners-section{
  text-align: center;
  padding: 30px 15px;

}

.partners-section h5{
    margin: 0;
    color: #757575;
}


.loghi-container img{
  width: 175px;
  margin-top: 50px;
  vertical-align: middle;

}

.loghi-container img:first-child,
.loghi-container img:nth-child(3),
.loghi-container img:nth-child(5){
    margin-right: 70px;
}

.partners-section .container p{
  margin-top: 30px;

}

.partners-section .container p .light-blue span strong{
  font-size: 20px;
}

/*END PARTNERS SECTION*/

/*DEPLOY-SCALE-SECTION*/

.deploy-scale-section{
  text-align: center;
  padding: 40px 20px;;

}

.deploy-scale-section p{
  font-size: 18px;
  color: #757575;
}



.possibilities{
  border-left: 1px solid #757575;
  text-align: left;
  line-height: 50px;
}

.features{
  text-align: left;
  margin-top: 20px;
}

.features:first-child{
  margin-top: 20px;
}

.features h4{
  margin-top: 20px;
}

.features p{
  font-size: 16px;
}

/*END DEPLOY-SCALE-SECTION*/

/*DESIG FOR DEV SECTION*/
.designed-for-dev-section{

  text-align: center;
  padding: 50px 20px;
}

.designed-for-dev-section h3{
  margin-top: 30px;
}

.for-dev-img-container{
  margin-top: 150px;
  width: 300px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-image: url("../img/design-for-dev.webp") ;
  background-size: cover;
  position: relative;
}

.fa.fa-chevron-left,.fa.fa-chevron-right
{
  position: absolute;
  top:50%;
  font-size: 50px;
  transform: translate(0, -50%);
}

.fa.fa-chevron-right{
  right:-50px;
}

.fa.fa-chevron-left{
  left:-50px;
}

.fa.fa-chevron-left:hover,
.fa.fa-chevron-right:hover{
  cursor: pointer;
  color: #000;
}

.designed-for-dev-section .container p{
  margin-top: 15px;
  font-size: 14px;
}

.circles{
  width: 12px;
  height: 12px;
  border: 1px solid #3080f0;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;
}

.circles:hover{
  background-color: #3080f0;
  cursor: pointer;
}
/*END DESIG FOR DEV SECTION*/

/*FEATURES BUSINESS SECTION*/
.features-business-section{
  padding: 40px 15px;
  text-align: center;
}

.features-business{
  text-align: left;
}

.icon-features-container{
  margin-top: 25px;
}

.icon-features-container img{
  width: 40px;
}


.features-business p{
  font-size: 14px;
}
/*END FEATURES BUSINESS SECTION*/

/*CUSTOMERS AROUND THE WORLD*/
.customers-world{
  background-color: #1551c4;
  padding: 50px 10px;
  text-align: center;
  color: #fff;
}

.customers-world h2{
  font-size: 35px;
}


.customers-world ul{
  text-align: left;
  margin-top: 20px;
  padding-left: 15px;
}


.customers-world ul{
  padding-bottom: 10px;
}

.border-bottom-ul{
  border-bottom: 1px solid #fff;
}

.customers-world ul li a{
  color: #00b4cd;
   margin-right: 15px;
  text-align: right;

}

.customers-world ul li{
  display: inline-block;
}

.ul-customers-container ul li:first-child{
  min-width: 50px;

}

.customers-world .container .row .ul-customers-container ul li:nth-child(2){
  color: #B1C1E8;
  margin-left: 50px;
}

.customers-world .container .row .ul-customers-container ul li:nth-child(3){
  text-align: right;
}


.customers-world ul:nth-child(7){
  margin-top: 50px;
}





/*END CUSTOMERS AROUND THE WORLD*/

/*ROCKER BOX SECTION*/
.rocker-box-section{

  padding: 50px 2px;
  text-align: center;
}

.rockerbox{
  margin-top: 100px;
  width: 60%;
  background-color: #fff;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.logo-rockerbox-container img{
  width: 55%;
}

.rockerbox p{
  margin-top: 15px;
  font-size: 13px;
}

.rockerbox a p{
  margin-top: 30px;
  font-size: 15px;
}

.rocker-box-section .circles{
  margin-top: 30px;
}

/*END ROCKER BOX SECTION*/

/*FOOTER*/
footer{
  background-color: #002AA4;
  text-align: center;
  color: #fff;
}

.top-footer{
  padding: 60px 0;
}

footer h2{
  font-size: 40px;

}

 .bl-create-account{
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
}

.bottom-footer{
  background-color: #031C4E;
  text-align: left;
  padding: 40px 5px;
}

.bottom-footer img{
  margin-bottom: 15px;
}

.bottom-footer .container .row .col-xs-12 span strong:first-child{
  color: #8891A7;

}

.bottom-footer .container .row .col-xs-12 span strong:nth-child(2){
  color:#566484;
}

.bottom-footer .container .row .col-xs-12 i{
  margin-top: 15px;
  font-size: 30px;
  padding-right: 10px;
  color:#566484;
}

.bottom-footer .container .row .col-xs-12 h4{
  margin-top: 25px;
  margin-bottom: 10px;
}

.bottom-footer .container .row .col-xs-12 p a strong{
  color: #8E97AC;
}

#fish{
  position: fixed;
  bottom: 100px;
  left: 30px;
}

#fumetto-fish{
  width: 300px;
  padding: 10px 5px;
  background-color: #fff;
  position: fixed;
  bottom: 50px;
  left: 30px;
  border-radius: 4px;
}

/*END FOOTER*/

/*MEDIA QUERY*/
@media screen and (min-width:768px){

/*JUMBOTRON*/

.bl-jumbotron{
  height: 500px;
}

  .bl-jumbotron-desc h1 strong{
    font-size: 36px;
  }

  .bl-jumbotron-desc p{
    font-size: 20px;
  }

  .jumbotron-form-container{
    padding: 0;
  }
  .reg-form{
    margin-top: 40px;
    height: 430px;
    padding-top: 30px;
  }

  /*END JUMBOTRON*/

  /*PARTNERS SECTION*/



  .loghi-container img{
    width: 100px;
    margin-right: 10px;
  }

  .loghi-container img:first-child,
  .loghi-container img:nth-child(3),
  .loghi-container img:nth-child(5){
      margin-right: 0;
  }

  .partners-section .container p .light-blue span strong{
    font-size: 16px;
  }
  /*END PARTNERS SECTION*/

  /*DEPLOY AND SCALE SEAMLESSLY*/
  .deploy-scale-section p{
    font-size: 20px;
  }
  /*END DEPLOY AND SCALE SEAMLESSLY*/


  /*DESIGNED FOR DEV SECTIONS*/
  .designed-for-dev-section h2{
    font-size: 35px;
  }

  .for-dev-img-container{
    width: 450px;
    height: 300px;
}

.designed-for-dev-section .container p{
  font-size: 16px;
}
/*END DESIGNED FOR DEV SECTIONS*/

/*FEATURES BUSINESS SECTION*/
.features-business-section h2{
  font-size: 40px;
}

.features-business-section p{
  font-size: 15px;
}

.features-business-section .container .row a strong{
  font-size: 15px;
}
/*END FEATURES BUSINESS SECTION*/
}

/*ROCKER-BOX-SECTION*/
.rockerbox{
  width: 40%;
  padding: 50px 0;
}

.logo-rockerbox-container img{
  width: 80%;
}

.rockerbox p{
  margin-top: 20px;
  font-size: 2rem;
}

.rockerbox span{
  font-size: 16px;
}

.rockerbox a p{
  margin-top: 30px;
  font-size: 18px;
}

.rocker-box-section .circles{
  margin-top: 30px;
}

/*END ROCKER-BOX-SECTION*/



@media screen and (min-width:992px){

  /*NAVBAR*/

  .right li,
  .central li{
    margin-top: 5px;
    padding-right: 10px;
  }

  .central li:last-child{
    padding: 0;
  }
  /*END NAVBAR*/

/*JUMBOTRON*/

  .bl-jumbotron-desc h1 strong{
    font-size: 60px;
  }

  .bl-jumbotron-desc p{
    font-size: 23px;
  }

  .reg-form{
    margin-top: 50px;
    height: 375px;
    padding-top: 25px;
  }

/*END JUMBOTRON*/

/*PARTNERS SECTION*/
.loghi-container img{
  width: 150px;
   margin-right: 15px;
}
/*END PARTNERS SECTION*/

/*DESIGNED FOR DEV SECTION*/
.for-dev-img-container{
  margin-top: 50px;
  width: 600px;
  height: 400px;
}

.fa.fa-chevron-left,.fa.fa-chevron-right
{

  font-size: 40px;

}

/*END DESIGNED FOR DEV SECTION*/

/*ROCKER-BOX-SECTION*/

.rocker-box-section h2{
  font-size: 38px;
}

.rockerbox{
  width: 40%;
  padding: 70px 5px;
}

.logo-rockerbox-container img{
  width: 55%;
}

/*FOOTER*/
#fish{
  bottom: 40px;
  right : 30px;
  left: unset;
}

#fumetto-fish{
  bottom: 55px;
  right: 150px;
  left:unset;
}
/*END FOOTER*/



/*END ROCKER-BOX-SECTION*/

}

@media screen and (min-width:992px) and (max-width:1199px){

/*JUMBOTRON*/

  .bl-jumbotron-desc h1 strong{
    font-size: 50px;
  }

  .bl-jumbotron-desc p{
    font-size: 25px;
  }

  .reg-form{
    margin-top: 50px;
    height: 410px;
    padding-top: 15px;
  }

  /*END JUMBOTRON*/

  /*PARTNERS SECTION*/
  .loghi-container img{
    width: 110px;
    margin-right: 15px;
  }
  /*END PARTNERS SECTION*/


}
/*END MEDIA QUERY*/
