
/*UTILITIES*/
.dark-blue{
  color:#031b4e;
}

.light-blue{
  color: #3080f0;
}
/*END UTILITIES*/


/*NAVBAR*/

header .navbar{
  margin-top: 30px;
  height: 50px;
}

header .navbar ul{
  height: 50px;
  line-height: 50px;
}

header .navbar ul li{
  display: inline-block;
}

header .navbar ul li a{
  color: blue;
}

.logo{
  width:140px;
}



.right li,
.central li{
  margin-top: 5px;
  padding-right: 15px;
}

.bl-btn{
  border: 1px solid blue;
  color: blue;
}

.hamburger{
  margin-top: 6px;
}

/*END NAVBAR*/

/*JUMBOTRON*/
.bl-jumbotron{
  height: 950px;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
  padding: 0;
}


.bl-jumbotron-desc{
  color: #fff;
  text-align: left;
  margin-top: 50px;

}

.bl-jumbotron-desc h1{
  font-size: 30px;
}

.bl-jumbotron-desc p{
  font-size: 18px;
}

.reg-form{
  height: 400px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

.reg-form h2:first-child{
  padding: 0 18px;
}

.bl-btn-sign i{
  text-align: left;
}



/*END JUMBOTRON*/
